.sty {
    font-size: large;
    color: rgb(70, 61, 102);
    background-color: rgba(130, 238, 236, 0.622);
    text-align: center;
}

.p{
    font-size: large;
    color: rgb(221, 174, 113);
    text-align: center;
}